<div class="homepage-body">
  <div class="homepage-top-container d-flex justify-content-center align-items-center">
    <div class="title-text-container d-flex flex-column align-items-center">
      <h1 class="text-light m-0">Steam Game Manager</h1>
      <h6 class="text-light">Manage and track your Steam games, and set solid goals to play games that you own but have never touched before!</h6>
    </div>
  </div>
</div>
