<%= javascript_include_tag 'searchFunction', 'data-turbo-track': 'reload', defer: true %>
<%= stylesheet_link_tag "search_bar", "data-turbo-track": "reload" %>

<form action="" id="search-form">
  <div id="search-div">
    <input type="text" id="search-input">
    <div id="search-dropdown"></div>
  </div>
  <input type="submit">
</form>

<div id="data-container" data-info="<%= @app_list.to_json %>"></div>
