<%= javascript_include_tag 'searchFunction', 'data-turbo-track': 'reload', defer: true %>
<%= stylesheet_link_tag "search_bar", "data-turbo-track": "reload" %>

<%= link_to "Go to your games", owned_games_list_path, class: "go-to-games-link btn btn-primary position-absolute" %>

<div class="search-page-container d-flex align-items-center flex-column">
  <h1>Steam Games Manager</h1>
  <h5>Manage and track your Steam games, and plan which games to play that you have never touched!</h3>

  <div class="search-container d-flex justify-content-center">
    <form action="/add" method="POST" id="search-form">
      <div id="search-div">
        <div class="radio-button-container d-flex justify-content-center">
          <label for="radio-games" class="search-radio-labels">
            <input type="radio" id="radio-games" name="search-type" value="game" checked="checked" class="search-radios">
            Games
          </label>
          <label for="radio-dlcs" class="search-radio-labels">
            <input type="radio" id="radio-dlcs" name="search-type" value="dlc" class="search-radios">
            DLCs
          </label>
        </div>
        <div class="search-input-submit-container d-flex">
          <input type="text" id="search-input" name="name" placeholder="Search for a game on Steam" spellcheck="false">
          <input type="submit" class="submit-button">
        </div>
        <p class="response-text response-text-opacity-zero"></p>
        <div id="search-dropdown"></div>
      </div>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    </form>
  </div>
</div>
