/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
:root {
  --main-bg-color: #23282f;
}

p {
  margin: 0;
}

html {
  font-size: 0.83vw;
  overflow-x: hidden;
  /* scrollbar-gutter: stable; */
  overflow-y: hidden;
}

/* @media only screen and (max-aspect-ratio: 1) {
  html {
    font-size: 1vh;
  }
} */


body {
  overflow-x: hidden;
}

input:hover {
  cursor: text;
}

.game-card, .playlist-items {
  cursor: grab !important;
}

.game-card:active, .playlist-items:active {
  cursor: grabbing !important;
}

.completed-checkbox, .played-checkbox {
  cursor: pointer !important;
}
