.games-list-body-container {
  padding-top: 1vh;
  margin-top: 11vh;
  width: 100vw;
}

.card-height {
  height: 15vh;
}

.card-img-holder {
  width: 30%;
}

.card-img-width {
  width: 30%;
  /* height: 100%; */
}
/*
.card-img-background {
  background-size: contain;
  background-repeat: no-repeat;
} */

.card-info-dimensions {
  box-sizing: border-box;
  width: 55%;
  height: 100%;
}

.card-info-item {
  height: 50%;
}

.completed-text {
  font-size: 0.8rem;
}

.played-text {
  font-size: 0.8rem;
}

@media only screen and (max-aspect-ratio: 1) {
  .card-img-width {
    width: auto;
    height: 10vh;
  }
}

.delete-game-form {
  width: 15%;
  box-sizing: border-box;
}

.caret {
  /* width: 0;
  height: 0; */
  border-left: 0.3125em solid transparent;
  border-right: 0.3125em solid transparent;
  border-top: 0.375em solid black;
  transition: 0.3s;
}

.caret-rotate {
  transform: rotate(180deg);
}
