.games-list-header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 5.7vw;
  z-index: 100;
  background-color: white;
  border-bottom: solid 1px rgba(0, 0, 0, .125);
  box-shadow: 0 0 2px black;
}

.header-relative-container {
  height: 100%;
}

.stats-bar {
  height: 100%;
  width: 16%;
  left: 3%;
}

.stats-text-container {
  width: 100%;
}

.rate-bar {
  width: 100%;
  height: 7px;
  background-color: white;
  border-radius: 10px;
  border: solid 1px rgba(0, 0, 0, .125);
}

.completed-rate, .played-rate {
  background-color: #64d4fc;
  height: 100%;
  border-radius: 10px;
}

input, label, .filter-dropdown:hover {
  cursor: pointer;
}

.filter-dropdown {
  transition: 0.3s;
  width: 10vw;
}

.filter-dropdown:hover {
  background-color: rgb(240, 242, 243);
  transition: 0.3s;
}

.filter-dropdown-options {
  width: 100%;
  background-color: white;
  transition: 0.3s;
}

.dropdown-options {
  transition: 0.3s;
}

.dropdown-options-text {
  width: 100%;
}

.dropdown-options:hover {
  transition: 0.3s;
  background-color: rgb(184, 182, 182);
}

.clear-filter-button {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, transform .15s ease-in-out;
  box-shadow: 0 0 0;
  border: none;
}

.clear-filter-button:hover {
  background-color: #89939b;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.clear-filter-button:active {
  transform: translateY(3px);
  transition: 0.15s;
}
